# Compiled JavaScript/TypeScript files
# These are usually built inside 'dist' or 'build' folders.
dist/
build/

# Dependency folders
node_modules/
server/node_modules/
src/node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor/OS temporary files
.vscode
.idea
.DS_Store

# Environment variables
.env
.env.local

# Docker/DB data (optional, but usually kept out of source control)
db/data/

# Client-specific files (Vite/React)
src/.vite/